img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.row,
.item-img,
.img-wrap,
.image-wrapper,
.item-wrapper {
  border-radius: 0 !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Schibsted Grotesk;
}
.display-1 {
  font-family: 'Antipasto-Pro-ExtraLight-trial';
  font-size: 5.4rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.75rem;
}
.display-2 {
  font-family: 'Antipasto-Pro-ExtraLight-trial';
  font-size: 3rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Antipasto-Pro-ExtraLight-trial';
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #808184 !important;
}
.bg-success {
  background-color: #0a267f !important;
}
.bg-info {
  background-color: #0a267f !important;
}
.bg-warning {
  background-color: #39e0f4 !important;
}
.bg-danger {
  background-color: #0a267f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #808184 !important;
  border-color: #808184 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9a9b9d !important;
  border-color: #9a9b9d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #39e0f4 !important;
  border-color: #39e0f4 !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: #69e8f7 !important;
  border-color: #69e8f7 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0a267f !important;
  border-color: #0a267f !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0e34ae !important;
  border-color: #0e34ae !important;
}
.btn-success,
.btn-success:active {
  background-color: #0a267f !important;
  border-color: #0a267f !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0e34ae !important;
  border-color: #0e34ae !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #39e0f4 !important;
  border-color: #39e0f4 !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #69e8f7 !important;
  border-color: #69e8f7 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0a267f !important;
  border-color: #0a267f !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0e34ae !important;
  border-color: #0e34ae !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #808184;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #39e0f4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #02272c !important;
  background-color: #39e0f4 !important;
  border-color: #39e0f4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0a267f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0a267f !important;
  border-color: #0a267f !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0a267f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0a267f !important;
  border-color: #0a267f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #39e0f4;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #02272c !important;
  background-color: #39e0f4 !important;
  border-color: #39e0f4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0a267f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0a267f !important;
  border-color: #0a267f !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #ffffff !important;
  background-color: #808184 !important;
  border-color: #808184 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #808184 !important;
}
.text-secondary {
  color: #39e0f4 !important;
}
.text-success {
  color: #0a267f !important;
}
.text-info {
  color: #0a267f !important;
}
.text-warning {
  color: #39e0f4 !important;
}
.text-danger {
  color: #0a267f !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4e4e50 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0aa9bd !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #030a20 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #030a20 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #0aa9bd !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #030a20 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #808184;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0a267f;
}
.alert-warning {
  background-color: #39e0f4;
}
.alert-danger {
  background-color: #0a267f;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #808184;
  border-color: #808184;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #808184;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c1c1c3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #1b4eed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #1b4eed;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fafeff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #1b4eed;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #808184 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #808184;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #808184;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #808184;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #808184;
  border-bottom-color: #808184;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #808184 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #39e0f4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23808184' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tNbYCXmm34 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tNbYCXmm34 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tNbYCXmm34 .navbar-logo {
  align-items: center;
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tNbYCXmm34 .wrapper {
  width: 100%;
  display: flex;
  max-width: 1620px;
  margin: auto;
}
.cid-tNbYCXmm34 .rr-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tNbYCXmm34 .rr-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tNbYCXmm34 .rr-brand .navbar-caption {
  line-height: 1.2 !important;
}
.cid-tNbYCXmm34 .rr-brand .navbar-logo a {
  outline: none;
}
.cid-tNbYCXmm34 .navbar-caption-wrap {
  align-items: center;
}
.cid-tNbYCXmm34 .navbar-caption {
  line-height: 1.2 !important;
  padding-left: 1rem;
  padding-right: .5rem;
}
.cid-tNbYCXmm34 .navbar-nav {
  margin: auto;
  margin-left: 0;
}
.cid-tNbYCXmm34 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
  top: -2px;
}
.cid-tNbYCXmm34 .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-tNbYCXmm34 .navbar-nav .nav-item .nav-link:hover {
  color: #808184 !important;
}
.cid-tNbYCXmm34 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tNbYCXmm34 .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tNbYCXmm34 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-tNbYCXmm34 .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tNbYCXmm34 .navbar-nav {
    padding-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .navbar-nav {
    align-items: center;
  }
}
.cid-tNbYCXmm34 .nav-link {
  width: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tNbYCXmm34 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tNbYCXmm34 .container-fluid {
  display: flex;
  height: fit-content;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tNbYCXmm34 .container-fluid {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .container-fluid {
    height: 72px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tNbYCXmm34 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tNbYCXmm34 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 0px !important;
  border-radius: 1rem;
  transition: .3s all !important;
  min-width: auto;
  background: #ffffff;
}
.cid-tNbYCXmm34 .nav-item:focus,
.cid-tNbYCXmm34 .nav-link:focus {
  outline: none;
}
.cid-tNbYCXmm34 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tNbYCXmm34 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tNbYCXmm34 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tNbYCXmm34 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tNbYCXmm34 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tNbYCXmm34 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tNbYCXmm34 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  top: -2px;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tNbYCXmm34 .navbar.opened {
  transition: all 0.3s;
}
.cid-tNbYCXmm34 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tNbYCXmm34 .navbar .navbar-logo img {
  width: auto;
}
.cid-tNbYCXmm34 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tNbYCXmm34 .navbar.collapsed {
  justify-content: center;
}
.cid-tNbYCXmm34 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tNbYCXmm34 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tNbYCXmm34 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.7rem);
  }
}
.cid-tNbYCXmm34 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tNbYCXmm34 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tNbYCXmm34 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tNbYCXmm34 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tNbYCXmm34 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tNbYCXmm34 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .navbar {
    min-height: 72px;
  }
  .cid-tNbYCXmm34 .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tNbYCXmm34 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tNbYCXmm34 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tNbYCXmm34 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tNbYCXmm34 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tNbYCXmm34 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tNbYCXmm34 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tNbYCXmm34 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tNbYCXmm34 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tNbYCXmm34 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tNbYCXmm34 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tNbYCXmm34 .dropdown-item.active,
.cid-tNbYCXmm34 .dropdown-item:active {
  background-color: transparent;
}
.cid-tNbYCXmm34 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tNbYCXmm34 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tNbYCXmm34 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tNbYCXmm34 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
  margin-right: 10px;
}
.cid-tNbYCXmm34 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  transform: none;
  top: -12px;
}
.cid-tNbYCXmm34 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tNbYCXmm34 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tNbYCXmm34 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tNbYCXmm34 .navbar-buttons {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .cid-tNbYCXmm34 .navbar-buttons {
    text-align: center;
  }
}
.cid-tNbYCXmm34 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tNbYCXmm34 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0a267f;
}
.cid-tNbYCXmm34 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tNbYCXmm34 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tNbYCXmm34 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tNbYCXmm34 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tNbYCXmm34 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tNbYCXmm34 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tNbYCXmm34 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tNbYCXmm34 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tNbYCXmm34 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tNbYCXmm34 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tNbYCXmm34 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tNbYCXmm34 .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tNbYCXmm34 .navbar {
    height: 70px;
  }
  .cid-tNbYCXmm34 .navbar.opened {
    height: auto;
  }
  .cid-tNbYCXmm34 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tNbYCXmm34 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tNbYCXmm34 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tNbYCXmm34 .navbar-brand {
    margin-right: auto;
  }
  .cid-tNbYCXmm34 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(8px);
  }
  .cid-tNbYCXmm34 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tNbYCXmm34 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tNbYCXmm34 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tNbYCXmm34 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tNbYCXmm34 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-umLD0q9JpE {
  display: flex;
  padding-top: 180px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/dsc01210-2000x1125.jpeg");
}
.cid-umLD0q9JpE .mbr-overlay {
  background-color: #0a267f;
  opacity: 0.5;
}
.cid-umLD0q9JpE .content-wrap {
  padding: 5rem 1rem;
  max-width: 800px;
}
@media (min-width: 768px) {
  .cid-umLD0q9JpE {
    align-items: center;
  }
  .cid-umLD0q9JpE .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-umLD0q9JpE .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-umLD0q9JpE {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-umLD0q9JpE .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-umLD0q9JpE .content-wrap {
    width: 100%;
  }
}
.cid-umLD0q9JpE .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-umLD0q9JpE .mbr-text,
.cid-umLD0q9JpE .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-umLD0q9JpE .mbr-section-subtitle {
  color: #0a267f;
}
.cid-utSkYPG3V4 {
  display: flex;
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .cid-utSkYPG3V4 {
    align-items: center;
  }
  .cid-utSkYPG3V4 .row {
    justify-content: center;
  }
}
.cid-utSkYPG3V4 p {
  line-height: 1.5;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-utSkYPG3V4 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-utSkYPG3V4 {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-utSkYPG3V4 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-utSkYPG3V4 .content-wrap {
    width: 100%;
  }
}
.cid-utSkYPG3V4 .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-utSkYPG3V4 .mbr-text,
.cid-utSkYPG3V4 .mbr-section-btn {
  text-align: center;
  color: #808184;
}
.cid-utSkYPG3V4 .mbr-section-subtitle {
  color: #0a267f;
  text-align: center;
}
.cid-utSnKuR7L0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-utSnKuR7L0 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 767px) {
  .cid-utSnKuR7L0 .embla__slide {
    min-width: 100%;
    max-width: 100%;
  }
}
.cid-utSnKuR7L0 .embla__slide .slide-content {
  width: 100%;
}
.cid-utSnKuR7L0 .embla__slide .slide-content .item-wrapper .item-img {
  padding: 0 1px;
}
.cid-utSnKuR7L0 .embla__slide .slide-content .item-wrapper .item-img img {
  height: 430px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-utSnKuR7L0 .embla__slide .slide-content .item-wrapper .item-img img {
    height: 350px;
  }
}
.cid-utSnKuR7L0 .embla__button--next,
.cid-utSnKuR7L0 .embla__button--prev {
  display: flex;
}
.cid-utSnKuR7L0 .embla__button {
  bottom: 0;
  width: 56px;
  height: 56px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: #c7fcb5 !important;
  color: #144031 !important;
  border: none !important;
  border-radius: 100%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  display: none;
}
.cid-utSnKuR7L0 .embla__button:hover {
  opacity: .6 !important;
}
.cid-utSnKuR7L0 .embla__button.embla__button--prev {
  right: 4rem;
}
.cid-utSnKuR7L0 .embla__button.embla__button--next {
  right: 0;
}
.cid-utSnKuR7L0 .embla {
  position: relative;
  width: 100%;
}
.cid-utSnKuR7L0 .embla__viewport {
  overflow: hidden;
  width: 100%;
  margin-right: 1rem;
}
.cid-utSnKuR7L0 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-utSnKuR7L0 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-utSnKuR7L0 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-umLBJfjC68 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-umLBJfjC68 .mbr-fallback-image.disabled {
  display: none;
}
.cid-umLBJfjC68 .item-wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-umLBJfjC68 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-umLBJfjC68 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-umLBJfjC68 .card-text {
  max-width: 400px;
  color: #808184;
  text-align: center;
  margin: auto;
}
.cid-umLBJfjC68 .iconfont-wrapper .mbr-iconfont {
  display: inline-flex;
  font-size: 4rem;
  color: #ffffff;
  width: 80px;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-umLBJfjC68 .iconfont-wrapper .mbr-iconfont:hover {
  transform: scale(1.2);
}
.cid-umLBJfjC68 .card-title,
.cid-umLBJfjC68 .iconfont-wrapper {
  color: #0a267f;
  text-align: center;
}
.cid-umLBJfjC68 .content-head {
  max-width: 800px;
}
.cid-umLBJfjC68 .mbr-section-title {
  color: #0a267f;
}
.cid-umLBJfjC68 .mbr-section-subtitle {
  color: #808184;
}
.cid-umLJlaG3Ic {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0a267f;
}
.cid-umLJlaG3Ic .mbr-fallback-image.disabled {
  display: none;
}
.cid-umLJlaG3Ic .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-umLJlaG3Ic .mbr-section-title {
  color: #ffffff;
}
.cid-umLJlaG3Ic .mbr-section-subtitle {
  color: #ffffff;
}
.cid-umLJUBNQoW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-umLJUBNQoW .mbr-fallback-image.disabled {
  display: none;
}
.cid-umLJUBNQoW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-umLJUBNQoW .mbr-section-subtitle {
  color: #808184;
}
.cid-umAxaJKpiX {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-umAxaJKpiX .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.8;
}
.cid-umAxaJKpiX H2 {
  text-align: center;
  color: #0a267f;
}
.cid-umAxaJKpiX LABEL {
  color: #808184;
}
.cid-tNbVNX7qYB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tNbVNX7qYB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbVNX7qYB .container {
  max-width: 1300px;
}
.cid-tNbVNX7qYB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbVNX7qYB .text-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .cid-tNbVNX7qYB .text-wrapper {
    padding: 3rem;
  }
}
.cid-tNbVNX7qYB .row {
  background: #808184;
}
.cid-tNbVNX7qYB .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-tNbVNX7qYB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbVNX7qYB .image-wrapper {
  padding: 0;
}
.cid-tNbVNX7qYB .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tNbVNX7qYB .mbr-section-title {
  color: #ffffff;
}
.cid-tNbVNX7qYB .mbr-text,
.cid-tNbVNX7qYB .mbr-section-btn {
  color: #ffffff;
}
.cid-tNbVNX7qYB .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tNbVNoLbYH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tNbVNoLbYH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbVNoLbYH .container {
  max-width: 1300px;
}
.cid-tNbVNoLbYH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbVNoLbYH .text-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .cid-tNbVNoLbYH .text-wrapper {
    padding: 3rem 2rem;
  }
}
.cid-tNbVNoLbYH .row {
  background: #808184;
}
@media (max-width: 991px) {
  .cid-tNbVNoLbYH .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbVNoLbYH .image-wrapper {
  padding: 0;
}
.cid-tNbVNoLbYH .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tNbVNoLbYH .mbr-section-title {
  color: #ffffff;
}
.cid-tNbVNoLbYH .mbr-text,
.cid-tNbVNoLbYH .mbr-section-btn {
  color: #ffffff;
}
.cid-tNbVNoLbYH .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tNbVPuzKcR {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tNbVPuzKcR input {
  padding: 1rem 1.5rem;
  border: none !important;
  height: 100%;
  box-shadow: none !important;
  font-size: 1rem;
  border-radius: 2rem !important;
}
.cid-tNbVPuzKcR input:hover {
  border: none !important;
  box-shadow: none;
}
.cid-tNbVPuzKcR .btn,
.cid-tNbVPuzKcR .wrapper {
  border-radius: 2rem !important;
}
.cid-tNbVPuzKcR .btn {
  height: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .cid-tNbVPuzKcR .btn {
    width: 100%;
  }
}
.cid-tNbVPuzKcR .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
@media (max-width: 767px) {
  .cid-tNbVPuzKcR .mbr-section-btn {
    width: 100%;
  }
}
.cid-tNbVPuzKcR .mbr-section-btn .btn {
  width: auto;
}
@media (min-width: 992px) {
  .cid-tNbVPuzKcR .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tNbVPuzKcR .form-group {
  margin: 0;
}
.cid-tNbVPuzKcR .wrapper {
  background: white;
  border-radius: 2rem !important;
  width: 80%;
  padding: 0;
  overflow: hidden;
  border: 1px solid lightgray;
  margin: auto;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-tNbVPuzKcR .wrapper {
    border-radius: 1.6rem;
  }
}
@media (max-width: 991px) {
  .cid-tNbVPuzKcR .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tNbVPuzKcR .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tNbVPuzKcR .justify-content-center {
  align-items: center;
}
.cid-tNbVPuzKcR .mbr-section-title {
  text-align: center;
  color: #0a267f;
}
.cid-tNbVJCYYFy {
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/copyfriendly-display-beauty-wellness-elements-branding-2000x1121.jpg");
}
.cid-tNbVJCYYFy .mbr-overlay {
  background-color: #0a267f;
  opacity: 0.2;
}
.cid-tNbVJCYYFy .content-wrap {
  padding: 5rem 1rem;
  max-width: 800px;
}
@media (min-width: 768px) {
  .cid-tNbVJCYYFy {
    align-items: center;
  }
  .cid-tNbVJCYYFy .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tNbVJCYYFy .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tNbVJCYYFy {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tNbVJCYYFy .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tNbVJCYYFy .content-wrap {
    width: 100%;
  }
}
.cid-tNbVJCYYFy .mbr-section-title {
  text-align: center;
}
.cid-tNbVJCYYFy .mbr-text,
.cid-tNbVJCYYFy .mbr-section-btn {
  text-align: center;
}
.cid-utSEVTF5hI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-utSEVTF5hI .mbr-fallback-image.disabled {
  display: none;
}
.cid-utSEVTF5hI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-utSEVTF5hI .content-wrapper {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-utSEVTF5hI .content-wrapper {
    display: block;
    padding: 0;
  }
}
.cid-utSEVTF5hI .content-wrapper .title-wrapper {
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-utSEVTF5hI .content-wrapper .title-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
}
.cid-utSEVTF5hI .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-utSEVTF5hI .content-wrapper .title-wrapper .mbr-section-title {
    width: 100%;
    margin-bottom: 24px;
  }
}
.cid-utSEVTF5hI .content-wrapper .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-utSEVTF5hI .content-wrapper .title-wrapper .mbr-section-btn {
  margin-top: 22px;
}
@media (max-width: 992px) {
  .cid-utSEVTF5hI .content-wrapper .title-wrapper .mbr-section-btn {
    margin-top: 16px;
  }
}
.cid-utSEVTF5hI .content-wrapper .image-wrap {
  width: 40%;
  border: 3px solid #808184;
  box-shadow: 4px 4px 0 0 #808184;
  background-color: #ffffff;
  padding: 60px 20px;
  transform: rotate(3deg);
}
@media (max-width: 992px) {
  .cid-utSEVTF5hI .content-wrapper .image-wrap {
    padding: 32px 16px;
    width: 100%;
    transform: rotate(0);
  }
}
.cid-utSEVTF5hI .content-wrapper .image-wrap img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}
.cid-utSEVTF5hI .mbr-section-title {
  color: #050f0f;
}
.cid-utSEVTF5hI .mbr-text {
  color: #050f0f;
}
.cid-utSEVTF5hI .mbr-text,
.cid-utSEVTF5hI .text-wrapper,
.cid-utSEVTF5hI .rating-wrapper {
  color: #808184;
}
.cid-utSEVTF5hI .mbr-section-title,
.cid-utSEVTF5hI .mbr-section-btn {
  color: #0a267f;
}
.cid-tNbVQ3Smlz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #ffffff;
}
.cid-tNbVQ3Smlz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbVQ3Smlz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbVQ3Smlz .google-map {
  height: 35rem;
  position: relative;
  filter: grayscale(1);
  border-radius: 2rem;
}
.cid-tNbVQ3Smlz .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-tNbVQ3Smlz .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tNbVQ3Smlz .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tNbVQ3Smlz .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tNbVQ3Smlz .google-map:hover {
  filter: grayscale(0);
}
.cid-tNbVQ3Smlz .mbr-section-title {
  text-align: center;
  color: #0a267f;
}
.cid-tNbVQ3Smlz .mbr-section-subtitle {
  color: #808184;
}
.cid-tNbVQcVGKB {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tNbVQcVGKB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbVQcVGKB .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbVQcVGKB .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbVQcVGKB .item-wrapper:hover .iconfont-wrapper:after {
  width: 70px;
  height: 70px;
}
.cid-tNbVQcVGKB a {
  font-weight: 600;
}
.cid-tNbVQcVGKB a:hover {
  background: none !important;
}
@media (min-width: 1400px) {
  .cid-tNbVQcVGKB .col-lg-3,
  .cid-tNbVQcVGKB .col-xl-3 {
    max-width: 20%;
  }
}
@media (max-width: 1200px) {
  .cid-tNbVQcVGKB .col-lg-12 {
    min-width: 100% !important;
  }
}
.cid-tNbVQcVGKB .card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-tNbVQcVGKB h5 {
  margin: 0;
}
.cid-tNbVQcVGKB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbVQcVGKB .iconfont-wrapper {
  position: relative;
}
.cid-tNbVQcVGKB .mbr-iconfont {
  display: flex;
  padding-right: 1rem;
  font-size: 2rem;
  color: #0a267f;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}
.cid-tNbVQcVGKB .socicon {
  font-size: 1rem;
  width: 30px;
  height: 30px;
}
.cid-tNbVQcVGKB .sociconfont-wrapper {
  display: flex;
}
.cid-tNbVQcVGKB .card-title,
.cid-tNbVQcVGKB .iconfont-wrapper {
  color: #a1a1a1;
}
.cid-tNbVQcVGKB .card-text {
  color: #808184;
}
.cid-tNbVQcVGKB .mbr-section-title {
  color: #000000;
}
.cid-tNbVQcVGKB .main-title,
.cid-tNbVQcVGKB .iconfont-wrapper {
  text-align: center;
  color: #0a267f;
}
.cid-tNbtX8ulws {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f7f7f7;
}
.cid-tNbtX8ulws .media-col {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .media-col {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .media-col {
    flex-direction: column;
  }
}
.cid-tNbtX8ulws .brand-name {
  margin-bottom: 0;
  color: #555555;
}
.cid-tNbtX8ulws .media-wrap {
  padding: 0;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .media-wrap {
    margin-right: 0;
  }
}
.cid-tNbtX8ulws .cards-row,
.cid-tNbtX8ulws .social-row,
.cid-tNbtX8ulws .menu-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .cards-row,
  .cid-tNbtX8ulws .social-row,
  .cid-tNbtX8ulws .menu-row {
    justify-content: center;
  }
}
.cid-tNbtX8ulws .menu-row {
  margin-bottom: 1rem;
}
.cid-tNbtX8ulws .foot-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-right: -1.2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .foot-menu {
    justify-content: center;
  }
}
.cid-tNbtX8ulws .foot-menu .foot-menu-item {
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
}
.cid-tNbtX8ulws .text-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-tNbtX8ulws .social-col {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .row {
    text-align: center;
  }
  .cid-tNbtX8ulws .cards-col {
    justify-content: center;
  }
  .cid-tNbtX8ulws .social-col {
    justify-content: center;
    margin-top: 30px;
  }
}
.cid-tNbtX8ulws .card-item {
  width: 45px;
  height: 30px;
  margin-right: 1rem;
}
.cid-tNbtX8ulws .card-item:last-child {
  margin-right: 0;
}
.cid-tNbtX8ulws .card-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cid-tNbtX8ulws .logo {
  width: 80px;
}
.cid-tNbtX8ulws .socicon {
  color: black;
}
.cid-tNbtX8ulws .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tNbtX8ulws .soc-item:last-child {
  margin-right: 0;
}
.cid-tNbtX8ulws .mbr-text {
  color: #ffffff;
}
.cid-tNbtX8ulws .copyright {
  color: #000000;
}
.cid-tNbYAFoZtM {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-tNbYAFoZtM .media-container-row .mbr-text {
  color: #000000;
}
.cid-tNzxIOqmjK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-tNzxIOqmjK .media-container-row .mbr-text {
  color: #000000;
}
