@font-face {
   font-family: 'Antipasto-Pro-ExtraLight-trial';
   font-display: swap;
   src: url('file:///Users/maucamacho/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-08-26_144918/fonts/Antipasto-Pro-ExtraLight-trial/font.ttf');
}
